<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('templates.ejs') %>
        <link rel="stylesheet" href="/templates/style.css">
</head>
<body>
<h3><a href="/aggregation">Temporal aggregations   </a></h3>
<h1>Total fee burned</h1>
<h2><%- parseInt(totalBurned[0].totalBurnedUntilNow, 16)*10**-18 + " Avax" %></h2>
<dl>

    <% blocks.forEach(function (block){ %>

                <dt><strong>Block <%= block.height %></strong></dt>
                <dd><strong>Gas burned: </strong><%= parseInt(block.gasUsed, 16)* 0.000000225 + " Avax" %> </dd>
                <dd><strong>Gas used: </strong><%= parseInt(block.gasUsed, 16)  + " Gas" %></dd>
    <% }); %>

</dl>
</body>
</html>